@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

.layoutBefore::before {
  content: "";
  pointer-events: none;
  @apply h-[100vh] fixed left-0 right-0 bottom-0 border-[20px] border-solid border-green z-[100];
}

/* button */
.btn {
  @apply h-[40px] px-[20px] py-[6px] text-[16px] rounded-[40px] border-[2px] tracking-wide border-green;
}
.btn:not(:disabled) {
  @apply hover:bg-green hover:text-white active:bg-green active:text-white;
}
.btn-primary {
  @apply bg-green text-white;
}
.btn-border {
  @apply bg-white text-green;
}
.btn-disabled {
  @apply border-gray-500 bg-white text-gray-500 cursor-not-allowed;
}

/* hover card */
.hoverCard {
  @apply hover:shadow-md hover:scale-105;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}